**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*.aab
*.aar
*.ap_
*.apk
*.bak
*.class
*.code-workspace
*.ctxt
*.dex
*.ear
*.iml
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache-main
.cproject
.cxx/
.externalNativeBuild
.externalToolBuilders/
.factorypath
.gradle
.gradle/
.gradletasknamecache
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.navigation/
.nb-gradle/
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.vscode/*
.worksheet
/build/
atlassian-ide-plugin.xml
bin/
build/
buildNumber.properties
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
gradle-app.setting
hs_err_pid*
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
nbbuild/
nbdist/
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
proguard/
release.properties
target/
tmp/
vcs.xml
